Package: libex-dev
Version: 0.1-1
Maintainer: BrianBoru <brian_boru@toavalon.com>
Depends: libc6 (>= 2.14)
Architecture: amd64
Priority: optional
Section: libdevel
Installed-Size: 183
Description: c lib
 c-functions for working with strings, lists, hash, json etc.
